/* Shell & Disconnected */
.gamepad, .gamepad::after {
  background-image: url('https://raw.githubusercontent.com/Zxivyto/C0ntroll3r/main/white/shell.svg') !important;
  background-size: 100% 100% !important;
  background-position: left top !important;
  background-repeat: no-repeat !important;
}

/* On cache les images de base pour éviter les doublons */
.gamepad .face, .gamepad .dpad, .gamepad .bumper, .gamepad .trigger, .gamepad .stick {
    background-image: none !important;
    background-color: transparent !important;
}

/* L2 & R2 */
.gamepad .triggers {
  position: absolute !important;
  width: 74.8782vw !important;
  height: 11.6896vw !important;
  left: 12.4240vw !important;
  top: 0 !important;
}
.gamepad .trigger, .gamepad .triggers::before, .gamepad .triggers::after {
  position: absolute !important;
  background-image: url('https://raw.githubusercontent.com/Zxivyto/C0ntroll3r/main/white/triggers.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 27.923010vw 26.379214vw !important;
  width: 12.4615vw !important;
  height: 11.6896vw !important;
  top: 0 !important;
}
.gamepad .trigger {
  background-position-y: -13.6896vw !important;
  opacity: 0 !important;
}
.gamepad .triggers::before, .gamepad .triggers::after {
  content: '';
  background-position-y: -1vw !important;
  z-index: -1 !important;
  display: block !important;
  width: 12.4615vw !important;
  height: 11.6896vw !important;
}
.gamepad .trigger.left, .gamepad .triggers::before {
  left: 0 !important;
  background-position-x: -1vw !important;
}
.gamepad .trigger.right, .gamepad .triggers::after {
  right: 0 !important;
  background-position-x: -14.4615vw !important;
}

/* L1 & R1 */
.gamepad .bumpers {
  position: absolute !important;
  width: 75.6540vw !important;
  height: 4.6244vw !important;
  left: 12.120vw !important;
  top: 12.9371vw !important;
}
.gamepad .bumper {
  position: absolute !important;
  background-image: url('https://raw.githubusercontent.com/Zxivyto/C0ntroll3r/main/white/bumpers.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 29.608984vw 12.248846vw !important;
  background-position-y: -1vw !important;
}
.gamepad .bumper.pressed {
  background-position-y: -6.6244vw !important;
}
.gamepad .bumper.left {
  background-position-x: -1vw !important;
  width: 13.2734vw !important;
  height: 4.4238vw !important;
  left: 0 !important;
  top: 0.0476vw !important;
}
.gamepad .bumper.right {
  background-position-x: -15.2734vw !important;
  width: 13.3356vw !important;
  height: 4.6244vw !important;
  right: 0 !important;
  top: 0 !important;
}

/* D-Pad */
.gamepad .dpad {
  position: absolute !important;
  width: 16.8593vw !important;
  height: 17.0337vw !important;
  left: 10.2705vw !important;
  top: 23.3223vw !important;
}
.gamepad .face {
  position: absolute !important;
  background-image: url('https://raw.githubusercontent.com/Zxivyto/C0ntroll3r/main/white/dpad.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 31.727148vw 17.604692vw !important;
}
.gamepad .face.up.pressed, .gamepad .face.down.pressed {
  background-position-y: -9.3024vw !important;
}
.gamepad .face.left.pressed, .gamepad .face.right.pressed {
  background-position-y: -9.9229vw !important;
}
.gamepad .face.up {
  width: 6.0612vw !important;
  height: 7.3023vw !important;
  left: 5.4283vw !important;
  top: 0 !important;
  background-position: -1vw -1vw !important;
}
.gamepad .face.down {
  width: 6.0612vw !important;
  height: 7.3023vw !important;
  left: 5.4283vw !important;
  bottom: 0 !important;
  background-position: -8.0613vw -1vw !important;
}
.gamepad .face.left {
  width: 7.3023vw !important;
  height: 6.0612vw !important;
  left: 0 !important;
  top: 5.5400vw !important;
  background-position: -15.1226vw -1.6205vw !important;
}
.gamepad .face.right {
  width: 7.3023vw !important;
  height: 6.0612vw !important;
  right: 0 !important;
  top: 5.5400vw !important;
  background-position: -23.4249vw -1.6205vw !important;
}

/* X, Circle, Quad, Triangle */
.gamepad .abxy {
  position: absolute !important;
  width: 21.5581vw !important;
  height: 21.5230vw !important;
  left: 70.3329vw !important;
  top: 21.1210vw !important;
}
.gamepad .button {
  position: absolute !important;
  background-image: url('https://raw.githubusercontent.com/Zxivyto/C0ntroll3r/main/white/abxy.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 32.199429vw 16.599693vw !important;
  width: 6.7998vw !important;
  height: 6.7998vw !important;
}
.gamepad .button.pressed {
  background-position-y: -8.7999vw !important;
}
.gamepad .button.a { /* Croix/X */
  background-position: -1vw -1vw !important;
  left: 7.4319vw !important;
  bottom: 0 !important;
}
.gamepad .button.b { /* Rond/B */
  background-position: -8.7999vw -1vw !important;
  right: 0 !important;
  top: 7.3264vw !important;
}
.gamepad .button.x { /* Carré/X */
  background-position: -16.5997vw -1vw !important;
  left: 0 !important;
  top: 7.3264vw !important;
}
.gamepad .button.y { /* Triangle/Y */
  background-position: -24.3996vw -1vw !important;
  left: 7.4319vw !important;
  top: 0 !important;
}

/* Share & Start */
.gamepad .arrows {
  position: absolute !important;
  width: 49.6943vw !important;
  height: 4.6901vw !important;
  left: 25.1115vw !important;
  top: 18.5723vw !important;
}
.gamepad .back, .gamepad .start {
  position: absolute !important;
  background-image: url('https://raw.githubusercontent.com/Zxivyto/C0ntroll3r/main/white/back_start.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 8.761668vw 12.380259vw !important;
  background-position-y: -1vw !important;
  width: 2.8808vw !important;
  height: 4.6901vw !important;
}
.gamepad .back {
  background-position-x: -1vw !important;
  left: 0 !important;
  top: 0 !important;
}
.gamepad .start {
  background-position-x: -4.8809vw !important;
  right: 0 !important;
  top: 0 !important;
}
.gamepad .back.pressed, .gamepad .start.pressed {
  background-position-y: -6.6902vw !important;
}

/* Sticks */
.gamepad .sticks {
  position: absolute !important;
  width: 42.6867vw !important;
  height: 10.6903vw !important;
  left: 28.5515vw !important;
  top: 40.2216vw !important;
  background: transparent !important;
}
.gamepad .stick {
  position: absolute !important;
  background-image: url('https://raw.githubusercontent.com/Zxivyto/C0ntroll3r/main/white/sticks.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 24.380646vw 24.380779vw !important;
  background-position-y: -1vw !important;
  height: 10.6903vw !important;
  width: 10.6903vw !important;
}
.gamepad .stick.pressed {
  background-position-y: -12.6905vw !important;
}
.gamepad .stick.left {
  background-position-x: -1vw !important;
  top: 0 !important;
  left: 0 !important;
}
.gamepad .stick.right {
  background-position-x: -12.6903vw !important;
  top: 0 !important;
  left: calc(100% - 10.6903vw) !important;
}

/* PlayStation logo */
.gamepad .meta {
  position: absolute !important;
  width: 6.9435vw !important;
  height: 5.4249vw !important;
  left: 46.4426vw !important;
  top: 42.0609vw !important;
  background-image: url('https://raw.githubusercontent.com/Zxivyto/C0ntroll3r/main/white/meta.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 8.943500vw 13.849788vw !important;
  background-position: -1vw -1vw !important;
}
.gamepad .meta.pressed {
  background-position-y: -7.4249vw !important;
}
